/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.row {
  padding: 40px;
  // background: #fff;
}

.title {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {

  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}

img#klogo-img{
  max-height:100px!important;
  width:auto;
}

*{
  box-shadow: none!important;
}

.is-casting-shadow{
  visibility: hidden!important;
}
