.about {
    h4 {
        font-family: 'Lato', serif;
        text-transform: none;
        margin-top: 10px;
        font-weight: 600;
        font-size: 2.2rem;
        letter-spacing: initial;
        color: #333;
    }
    p{
      font-size: 1.2rem;
      color: #111;
      padding: 20px;
    }
    a{
      font-family: 'Lato', serif;
      font-size: 2.2rem;
      letter-spacing: initial;
      font-weight: 600;
      text-decoration: none;
      list-style-type: none;
    }
}

.about{
  padding-top: 12.5%;
  width: 80vw;
  height:92.5vh;
  margin: 0 auto;
  overflow: scroll;
}
