.blog__posts {
  list-style: none;
  width: 80vw;
  margin: 0 auto;
}

.post{
  font-weight: 400;
  font-size: 1.2em;
  p{
    background: #fff;
    border: 5px solid darkviolet;
    padding: 20px;
  }
}

.blogpost-pos{
  min-height: 90vh;
}

.post__title{
  font-family: 'Lato', serif;
  font-size: 2.2rem;
  letter-spacing: initial;
  font-weight: 700;
  margin-bottom: 50px;
}
