@import "mixins";

html {
  background-color: $primary;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: $cyan;
  background: $cyan; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, cyan, #f8ffae); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, cyan, #f8ffae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('../components/bg-img/cyan-tri.png');
  background-size: 100vw 100vh;
  color: $blackish;
  font-family: $font;
}

.container {
  padding: 0 20px;
  max-width: 1000px !important;
}

h1,
h2,
h3,
p,
a {
   font-family: $Lato;
}

h1,
h2,
h3,
a,
p {
  color: $blackish;
}

h4, h5, h6 {
  font-family: $Lato, 'Lato', sans-serif;
  font-size: 1rem;
  color: #blackish;
}

a {
  color: $blackish;
  box-shadow: none;
  text-decoration: underline;
  transition: color .2s ease;
  color: #333!important;
  &:hover {
    color: #dd0000;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position:fixed;

  h1 {
    margin: 0;
    font-family: $Lato;
  }
}

.me {
  display: block;
  // -webkit-box-shadow: 6px 6px 7px 0px $primary;
  // -moz-box-shadow: 6px 6px 7px 0px $primary;
  // box-shadow: 6px 6px 7px 0px $primary;
  width: auto;
  height: 250px;
  margin-right: 25px;
  margin: auto;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

// Some footer
.footer {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 20px 0;
  justify-content: space-between;
  width: 100vw;
  bottom: 0;
  margin: 0 auto;
  padding: 0 5% 0 5%;

  @include mobile_tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    margin-left: -10%!important;
    @include mobile_tablet {
      margin: 10px 0;
    }
  }


  svg {
    width: 35px;
    height: 35px;
    color: #333;
    margin: 0 5px;
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
      color: #dd0000;
    }
  }
}

// Blog posts list
.blog__posts {
  @include mobile_tablet {
    margin: 0;
  }

  .post {
    a {
      font-family: $Lato;
      text-transform: lowercase;
      font-size: 2.2rem;
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 20px;
      font-weight: bold;
    }
    p{
      margin-top: 20px;
    }
  }
}

// Posts
.markdown {
    .post__title {
        font-family: $Lato;
        text-transform: lowercase;
    }
}

//header
div.header{
  background: none!important;
}

//main body wrapper stylings
.container{
  margin:0;
  padding:0;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden!important;
}

.landing-page{
  width: 100vw;
}

.portfolio-container{
  margin:0;
  padding: 20px;
}

@media (max-width: 400px) {
  .portfolio-container{
    margin:0;
    padding:0;
    height:250px!important;
    width:250px!important;
    margin: 0 auto;
    // float:left!important;
    margin: 0!important;
  }
  .portfolio-wrapper{
    // max-width: 90vw!important;
    overflow: hidden;
}

  }
/*modal hack*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    a,h2, p{
      color: #333!important;
    }
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    height:85vh;
    width: 80vw;
    position: relative;
    margin: 2.5% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/*
scroll bar hack
*/

::-webkit-scrollbar {
    display: none;
}

div.info-wrapper, .blogpost-pos, .portfolio-wrapper{
  padding-top:12.5%;
}

.portfolio-container-fe, .portfolio-container-be, .portfolio-container-ol{
  h1{
    font-size: 2.2rem;
    text-transform: lowercase;
  }
}

.portfolio-wrapper-skillz{
  height:92.5vh!important;
  li{
    text-decoration: none;
    list-style-type: none;
  }
}

.portfolio-wrapper > #modaldialog{
  background: #fff;
  opacity: 1;
}
