// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather|Montserrat|Roboto:400,700');

/*

Specify in CSS

Use the following CSS rules to specify these families:
font-family: 'Slabo 27px', serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

// Variables
$primary: #503B31;
$secondary: #7A9E9F;
$gray: #93B7BE;
$blackish: #002E2C;
$whiteish: #EDF1F2;
$cyan:#00ffff;

$font: 'Noto Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;
$Lato: 'Lato', sans-serif;
$Lora: 'Lora', serif;
$Merriweather: 'Merriweather', serif;
$Montserrat: 'Montserrat', serif;
$Roboto: 'Roboto', sans-serif;

// Breakpoint mixins
@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 480px + 1) and (max-width: 960px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 960px + 1) {
    @content;
  }
}

@mixin mobile_tablet {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin tablet_desktop {
  @media only screen and (min-width: 480px + 1) {
    @content;
  }
}
