.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  width: 30vw;
  padding-right: 7.5vw;

  a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #333;
  }

  &__link {
    box-shadow: none;
    margin-left: 20px;
    text-align: center;
  }
}


@media only screen and (max-width: 960px) {
  .nav__link {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .nav a{
    font-size:1rem;
  }
}
