.bio {
  display: flex;
  flex-direction: row-reverse;
  margin: 30px 0;

  h2 {
    font-weight: normal;
    margin: 0;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .bio {
    flex-direction: column;
    align-items: center;

    h2,
    p {
      margin-top: 20px;
      padding: 0;
      text-align: center;
    }
  }
}

.bio{
  padding-top: 5vh;
  max-width: 80vw;
  margin: 0 auto;
  overflow: hidden!important;
  img{
    padding-top: -5vh;
    height: 40vh;
    border-radius: 50%;
  }
  h2{
    // padding-top: 20%;
  }
}

.biodeets{
  width: 80vw;
  padding-top: 12.5%;
  height:85vh;
  h2{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    line-height: 125%;
  }
}

.bio-h2{
  overflow: scroll;
  h2{
    font-size: 5.2rem;
    line-height: 120%;
    font-weight: bold;
  }
  h3{
    font-size: 2.3rem;
  }
}

@media only  screen and (max-width: 479px){
  .bio-h2{
    overflow: scroll;
    h2{
      font-size: 3rem;
      line-height: 100%;
      font-weight: bold;
    }
    h3{
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 480px ) and (max-width: 600px){
  .bio-h2{
    overflow: scroll;
    h2{
      font-size: 4.2rem;
      line-height: 100%;
      font-weight: bold;
    }
    h3{
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width:780px) {
  .tacenter{
    text-align: center;
  }
}

.atf-section{
  height:100%;
  width:100%;
}
